/***DIT IS MIJN EIGEN CSS BESTAND**/
/**MOBILE FIRST**/
p{
  color:#999;
}

.kenburns-top-right {
  -webkit-animation: kenburns-top-right 5s ease-out both;
  animation: kenburns-top-right 5s ease-out both;

}

@-webkit-keyframes kenburns-top-right {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 84% 16%;
    transform-origin: 84% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translate(20px, -15px);
    transform: scale(1.25) translate(20px, -15px);
    -webkit-transform-origin: right top;
    transform-origin: right top;
  }
}
@keyframes kenburns-top-right {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 84% 16%;
    transform-origin: 84% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translate(20px, -15px);
    transform: scale(1.25) translate(20px, -15px);
    -webkit-transform-origin: right top;
    transform-origin: right top;
  }
}

.bg-shades1{
  overflow:hidden;
}

#slider-content{
  top:50%;
  right:10%;
  width:75%;
  transform:translate(0,-50%);
}
#slider-content h1{
  font-size:1rem;
}
.icondesign{
  border-radius:50%;
  background:#555;
  padding:15px;
  transform: translateY(-50%);
  border: 5px solid white;
}
.articlebg{
  background:#f5f5f5;
}
.h2chooseus{
  text-shadow: 2px 2px 2px grey;
}
#chooseus .articlebg{
  padding: 0px 4%;
}
.h2h3color-b{
  color: #777;
  font-size: 1.2rem;
}
.bgicons{
  background: white;
  padding: 10px;
}
.bgicons:hover{
  color:#3baafe;
}
.whatwedo-bol{
  line-height:45px !important;
  width:45px;
  border-radius:50%;
  background:#555;
}

.howwework-content{
  background:#ebebeb;
}
#naam,#functie{

}
/*
.naamfunctie{
  position: absolute;
  top: 46%;
  left: 14%;
}*/
.personage{
  background: #7a7878;
  padding: 5% 16%;
  border: 5px solid #e6e6e6;
}

/**MEDIAQUERIES (ALLES WAT GROTER IS DAN MOBILE**/
@include media-breakpoint-up(sm) {  }
@include media-breakpoint-up(md) {  }
@include media-breakpoint-up(lg) {
  .d-fixed-top{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }
  #slider-content{
    width:36%;

  }
  #slider-content h1{
    font-size:2.5rem;
  }
.bg-chooseus{
  background:url('../assets/images/zonnebloemen.jpg');
}
  .chooseus-h3-p{
    width:70%;
  }
  .box{
    position:relative;
  }
  .box i{
    position:absolute;
    top:50%;
    transform:translate(0,-50%);
  }
  .h2choosesus{
    position:relative;
  }
  .h2chooseus:after{
    position: absolute;
    top: 60px;
    left: 260px;
    content: '_____';
  }
  #howwework{
    background:url('../assets/images/howweworkbg.jpg') no-repeat;
    background-size: 100% 100%;
    padding: 200px 0px;
  }
 


  @-webkit-keyframes slide {
    100% { left: 0;

    }
  }

  @keyframes slide {
    100% { left: 0;  }
  }

  .teamsocial{
    position:absolute;
    top:0;
    z-index:3
  }

  .titel{
    width:250px;
    position:absolute;
    top:25%;
    z-index:1;
  }
  .naam{
    padding:10px 40px 30px 40px;
    background:#fff;
    transform:skewX(-23deg);
    box-shadow:2px 2px 2px grey;

  }
  .functie{
    background: grey;
    transform: skewX(-25deg) translateY(-98%) translateX(-25%);
    padding: 3% 0%;
  }
  .personage-tekst{
    transform:translateY(135%);
  }
  .personage{
    transform: translateY(-8%);
  }
  .colheight{
    height:800px;
  }
  .colstyle{
    background: #f5f5f5;
    margin-bottom: 50px;
    border-right: 40px solid white;
  }
  .slide-in-left{
    -webkit-animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }



  @-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(0px);
      transform: translateX(0px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(95%);
      transform: translateX(95%);
      opacity: 1;
    }
  }
  @keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(0px);
      transform: translateX(0px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(95%);
      transform: translateX(95%);
      opacity: 1;
    }
  }



}

@include media-breakpoint-up(xl) {  }


