/***DIT IS MIJN EIGEN CSS BESTAND**/
/**MOBILE FIRST**/
.kenburns-top-right {
  -webkit-animation: kenburns-top-right 5s ease-out both;
  animation: kenburns-top-right 5s ease-out both;

}

@-webkit-keyframes kenburns-top-right {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 84% 16%;
    transform-origin: 84% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translate(20px, -15px);
    transform: scale(1.25) translate(20px, -15px);
    -webkit-transform-origin: right top;
    transform-origin: right top;
  }
}
@keyframes kenburns-top-right {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 84% 16%;
    transform-origin: 84% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translate(20px, -15px);
    transform: scale(1.25) translate(20px, -15px);
    -webkit-transform-origin: right top;
    transform-origin: right top;
  }
}

.bg-shades1{
  overflow:hidden;
}

#slider-content{
  top:50%;
  right:10%;
  width:75%;
  transform:translate(0,-50%);
}
#slider-content h1{
  font-size:1rem;
}
.icondesign{
  border-radius:50%;
  background:#555;
  padding:15px;
  transform: translateY(-50%);
  border: 5px solid white;
}
.articlebg{
  background:#f5f5f5;
}

/**MEDIAQUERIES (ALLES WAT GROTER IS DAN MOBILE**/
@include media-breakpoint-up(sm) {  }
@include media-breakpoint-up(md) {  }
@include media-breakpoint-up(lg) {
  .d-fixed-top{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }
  #slider-content{
    width:36%;

  }
  #slider-content h1{
    font-size:2.5rem;
  }
}

@include media-breakpoint-up(xl) {  }


